.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    
    &__cards {
        height: 100%;
        width: 100%;
        padding: 5rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__title {
        text-align: center;
        font-size: 28px;    
        
        @include respond(tab-land) {
            font-size: 22px;      
        }

        @include respond(tab-port) {
            font-size: 16px;      
        }
    }
    
    &__img {
        position: relative;
        bottom: 0;
        z-index: 10;
        width: 100%;
        object-fit: fill;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;

        @include respond(tab-port) {
            width: 90%;       
        }

        @media only screen and (max-width: 450px) { 
            justify-content: center;  
        };
    }
    
    &__box {
        position: relative;
        padding: 0 5px 0 5px;
        max-width: 30%;

        @media only screen and (min-width: 56.25em) { 
            &:hover .Projects__button {
                top: -8px;
                transition-duration: .5s;
                transition-delay: .1s;
            }
        };

        @include respond(phone) {
            max-width: 40%;       
        }
        
        @media only screen and (max-width: 450px) { 
            max-width: 90%;  
        };
    }

    &__description {
        width: 80%;
    }

    &__button {
        position: relative;
        display: flex;
        top: -35px; //needs to go to -8px to show fully
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, $color-red-dark, $color-black);
        color: $color-white;
        transition-duration: .5s;
        transition-delay: .1s;
        z-index: 5;

        @media only screen and (max-width: 56.25em) { 
            top: -8px;
        };

        @media only screen and (min-width: 75em) { 
            top: -36px;
        };
        
        &--icon {
            margin: 0;
            width: 100%;
            text-align: center;
            cursor: pointer;
            text-decoration: none;

            @include respond(tab-port) {
                font-size: 12px;      
            }
        }
    }

    &__slideButton {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        z-index: 10;
        margin-top: 20px;

        &--un {
            margin: 1em auto;
            width: 280px;
            text-align: center;
            background-color: #eee;
            padding: 0.5em 0;
            display: block;
            color: $color-red-dark;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.2s;
            box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
            border-radius: 8px;
            border: 0;

            
            &-left {
                &:before {
                    content: '\25c4';
                    padding-right: 0.5em;
                }
                &:hover {
                    color: #eee;
                    background-image: linear-gradient(to left bottom, $color-red-dark, $color-black)
                }
              }
              
            &-right {
                &:after {
                    content: '\25ba';
                    padding-left: 0.5em;
                }
                &:hover {
                    color: #eee;
                    background-image: linear-gradient(to right bottom, $color-red-dark, $color-black)
                }
            }
        }
    }
}