.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;

  &__container {
    width: 80%;
    padding: 10px 20px 7rem;
    z-index: 1000;
    border-radius: 2% 2% 0 0;

    margin: 0 auto;
    background-color: $color-white;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    
    @include respond(tab-land) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 93.5%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 93.5%, 0 100%);
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
      border-radius: 0;
    }

    @media only screen and (max-width: 450px) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 96.5%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 96.5%, 0 100%);
      padding: 10px 10px 7rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px 0;

    @include respond(phone) {
      grid-template-columns: none;
    }
  }

  &__img {
    width: 100%;
    overflow: hidden;
    border-radius: 5%;
  }

  &__box {
    padding-left: 20px;
    color: $color-black;

    @include respond(phone) {
      padding: 0;
    }

    &--header {
      border-bottom: 2px solid #ccc;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      height: -5px;

      & img {
        height: 30px;
        margin: 0 auto;
      }
      & a {
        font-size: 30px;
      }
    }

    &--title {
      font-size: 28px;
      margin: 0;

      @include respond(tab-land) {
        font-size: 22px;
      }
    }

    &--img {
      height: auto;
      max-height: 30px;
      width: auto;
      max-width: 50px;
      margin: auto 3px;
    }

    &--button {
      cursor: pointer;
      border: 0;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.5rem 3rem;
      display: inline-block;
      border-radius: 8px;
      transition: all 0.2s;
      position: relative;
      font-size: 1.6rem;
    }
  }
}
