*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-port) { // width < 900?
        font-size: 50%;
    }

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%;
    }

    @include respond(big-desktop) {
        font-size: 90%;
    }
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    background-color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 0;
    }
}

html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

::selection {
    background-color: $color-black;
    color: $color-white;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 13px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, $color-red-dark, $color-black);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background-image: linear-gradient(to bottom, $color-red-dark, $color-black);
}