// COLORS
$color-red-dark: #740000;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #E6E6E6;
$color-grey-light-2: #7c7c7c;
$color-blue-light: #9AE9FF;
$color-blue-dark: #153CBB;
$color-yellow-gold: #DB9900;

// SHADOW
$shadow-white: 0 .5rem 1rem rgba($color-grey-light-2,.2);
$shadow-black: rgba($color-black, .15);
