.Categories {
  height: 100%;
  padding: 0 8rem 15rem;
  background-image: linear-gradient(
    to right bottom,
    $color-red-dark,
    $color-black
  );
  position: relative;
  z-index: 100;
  align-items: center;
  transition: all 0.1s;

  @include respond(phone) {
    padding: 0 0 15rem;
  }

  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: auto;
    flex-wrap: wrap;
  }

  &__box {
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    color: $color-white;
    text-align: center;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    border-radius: 10%;
    margin: 0 20px 80px 20px;

    &:hover {
      outline: 0.3rem solid $color-white;
      transform: scale(1.1);
      z-index: 20;
      transition-duration: 0.1s;
      transition-delay: 0.1s;
      border-radius: 10%;
    }

    &--selected {
      transform: scale(1.1);
      z-index: 20;
      outline: none;
      transform: scale(1.1);
      box-shadow: 0 1rem 2rem rgba($color-grey-light-2, 0.6);
      border-radius: 10%;
    }

    &--title {
      color: $color-white;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10%;
  }
}
